---

name: "Mirror"
run-name: "Mirror"
permissions: write-all

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: [.github/workflows/mirror.yml]
  schedule:
    - cron: "0 0 1 * *" # monthly

concurrency:
  group: ${{ github.workflow_ref }}
  cancel-in-progress: false

env:
  GH_TOKEN: '${{ github.token }}'
  GITHUB_TOKEN: '${{ github.token }}'

jobs:
  mirror:
    name: "Mirror"
    runs-on: ubuntu-latest
    steps:

      - name: "Install"
        run: sudo apt-get install moreutils

      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Mirror"
        if: false # temp
        run: |
          while [ "${ENDPOINT}" ]
          do
            ENDPOINT="$(curl -sS "${ENDPOINT}" | tee "${TMP_FILE}" | jq --raw-output "${JQ_QUERY}")"
            cat "${TMP_FILE}"
          done | \
              jq --slurp '[.[].results[]]' | \
              tee "index.json" | \
              jq --raw-output '.[].formats[]' | \
              xargs --max-procs="$(nproc)" -IURL sh -c "${WGET_CMD}"
        env:
          ENDPOINT: 'https://gutendex.com/books/?languages=eo'
          JQ_QUERY: '.next|tostring|sub("^null$"; ""; "i")'
          TMP_FILE: '${{ runner.temp }}/results'
          WAIT_SEC: 10
          WGET_CMD: |
            wget --no-verbose --execute robots=off --random-wait --wait "${WAIT_SEC}" --no-host-directories --force-directories URL || echo "::error title=WGET ERROR CODE ${?}::URL"

      - name: "Cyrillise"
        run: |
          find . -type d | grep -vE './\.git*' | grep -vE './цирила' | xargs -IDIRECTORY mkdir --parents './цирила/DIRECTORY'
          find . -type f | grep -vE './\.git*' | grep -vE './цирила' | grep -E '.txt$' | xargs -IFILE cp --recursive FILE './цирила/FILE'
          curl https://gist.githubusercontent.com/norwd/d44101f2ac807a0830cdb8364a3f2141/raw/8b47cbbdd7aa9acc24f8ca2b9e4a6b34f5e82232/ciriligu.sed | tee ./ciriligu.sed
          chmod +x ./ciriligu.sed
          find ./цирила -type f -exec sh -c './ciriligu.sed {} | sponge {}' \;
          rm ./ciriligu.sed

      - name: "Add files"
        run: git add . 

      - name: "Commit"
        run: git commit --allow-empty --author="${GIT_COMMITTER_NAME} <${GIT_COMMITTER_EMAIL}>" --message="${MESSAGE}"
        env:
          GIT_COMMITTER_NAME: github-actions[bot]
          GIT_COMMITTER_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          MESSAGE: |
            Automatic mirror update

      - name: "Push"
        run: git push
